body{
    margin:0; 
    padding:0;
    height:100%;
    width: 100%;
}

.main{
    margin-top:15px;
}

.top-bar{
    background: #ae4127;
    min-height: 8rem;
    padding: 2rem 1rem;
    position: relative;
}

header.top-bar h1{
    color: rgb(255, 255, 255);
    margin: 0 0 10px 0;
    padding: 0;
    font-size:24px;
    font-weight: normal;
}
header.top-bar h2{
    color: rgba(255, 255, 255,0.7);
    margin: 0;
    padding: 0;
    font-size:36px;
}

.btn-primary{
    background-color: #ae4127;
    border-color: #913721;
}
.btn-primary:hover{
    background-color: #913721;
    border-color: #792e1c;
}