<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>问卷调查</title>
    <!-----------------------------------------CSS引用---------------------------------------------------------------->
    <!-- Bootstrap css引入-->
    <link href="../../../common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Materialize CSS 引入 -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet">-->

    <link href="../css/page.css" rel="stylesheet">
    <link href="../css/page_answer.css" rel="stylesheet">

    <!-----------------------------------------JS引用----------------------------------------------------------------->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->
    
    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="../../../common/lib/materialize/js/materialize.min.js"></script>-->

    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/answerService.js"></script>
    <script src="../../../common/js/brandService.js"></script>
    <script src="../../../common/js/imageService.js"></script>
    <script src="../../../common/js/surveyService.js"></script>

</head>
<body>
<!--注：vue实例创建时，不能挂在到<body>标签上，故在此加入一个<main>-->
<main id="CreateQuery">
    <header class="flex-column flex-md-row top-bar">
        <div class="container">
            <div class="row">
                <h2 class="q-Name">{{qName}}</h2>
                <h4>为了给您提供更好的产品，希望您抽出几分钟时间，将您的感受和建议告诉我们，我们非常重视每位用户的宝贵意见，期待您的参与，我们马上开始吧</h4>
                <!--<hr/>-->
                <div class="form-group">
                    <label class="col-lg-1 col-lg-offset-1" >姓名：</label>
                    <div class="col-lg-4">
                        <input  class="form-control" v-model="answer_replyerName" placeholder="请输入您的姓名..." />
                    </div>
                    <label class="col-lg-1">职业：</label>
                    <div class="col-lg-4">
                        <select class="form-control" v-model="answer_replyerPosition">
                            <option value="技术类">技术类</option>
                            <option value="管理类">管理类</option>
                            <option value="管理类">营销类</option>
                            <option value="管理类">设计类</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container main" >
            <div class="panel panel-default">
                    <div class="panel-heading">
                            品牌：请选择您觉得最符合行业标杆的品牌，最多选{{brandLimit}}个
                    </div>
                    <div class="panel-body">
                            <div class="col-lg-3" v-for="brand in brandList">
                                    <!--<input type="checkbox" class="brandChoiceChk" v-bind:id="brand.brandId" v-bind:alt="brand.brandId" v-on:click='answer_doCheck_brand'>-->
                                    <img class="brandImg" v-bind:src="brand.brandIconUrl">
                            </div>
                    </div>
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading">
                            整体造型：请选择您认为最吸引眼球/视觉冲击的造型
                    </div>
                    <div class="panel-body" >
                            <div class="panel-body" >
                                    <div class="col-lg-3" v-for="pro in selProList">
                                            <img class="brandProductImg" v-bind:src="pro.imageUrl">
                                    </div>
                            </div>
                    </div>
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading">
                            局部造型：请选择您认为最吸引眼球/视觉冲击的局部造型
                    </div>
                    <div class="panel-body" >
                            <div class="panel-body" >
                                    <div class="col-lg-3" v-for="proD in selProDetailList">
                                            <!--<input type="checkbox" class="brandChoiceChk"  v-bind:id="proD.imageId" />-->
                                            <img class="brandProductImg" v-bind:src="proD.imageUrl">
                                    </div>
                            </div>
                    </div>
            </div>

            <div class="panel panel-default" v-for="type in inspire_type"  v-if="type.isSelected">
                    <div class="panel-heading">
                            {{type.typeName}}： 请选{{type.typeName}}图片，能代表您公司的产品。最多选择{{type.limit}}张
                    </div>
                    <div class="panel-body" >
                            <div class="panel-body" >
                                    <div class="row">
                                            <div class="col-lg-3 pad-top-10" v-for="typeImg in type.imgList">
                                                    <img class="brandProductImg" v-bind:src="typeImg.imageUrl"/><br/>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
            <div class="row" align="center">
                    <button class="btn btn-primary" onclick="returnToBoard()">返回看板结果</button>
            </div>
    </div>

    <script src="../js/page_answer.js"></script>
    <script src="../js/page_answer_vue.js"></script>

</body>
</html>