<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>有效回复清单</title>
    
    <!-----------------------------------------CSS引用---------------------------------------------------------------->
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../common/lib/bootstrap-table/css/boostrap-table.min.css"/>
    <!-- Materialize CSS 引入 -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/page_queryList.css"/>

    <!-----------------------------------------JS引用----------------------------------------------------------------->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries。WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->

    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <!--<script src="../../../common/lib/materialize/js/materialize.min.js"></script>-->

    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../common/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="../../../common/lib/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>

    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/mask.js"></script>
    <script src="../../../common/js/answerService.js"></script>
    <style>
            .fr{ float:right}
            .fl{ float:left }
            .alignCenter{ text-align: center}
            .title{ color:white;display:inline-block }
    </style>
</head>

<body>
        <!--注：vue实例创建时，不能挂在到<body>标签上，故在此加入一个<main>-->
        <main id="CreateQuery">
                <header class="flex-column flex-md-row top-bar">
                        <div class="container">
                                <div class="row">
                                       
                                        <div class="left-col col-xs-3">
                                                <button type="button" class="btn btn-primary " onclick="returnToList()">返回列表</button>
                                        </div>
                                        <div class="col-xs-6 mid-col top-title">
                                                <h1 id="survey-title">问卷调查</h1>        
                                                <h2>有效回复清单</h2>
                                        </div>

                                </div>
                                
                                
                                
                        </div>
                </header>
                <div  class="container main">
                        <div class="row">
                                <table id="tbContent"></table>
                        </div>
                </div>
        </main>
        <script src="../js/page_board.js"></script>

</body>
</html>

