
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>有效问卷数量</title>

    <!-----------------------------------------CSS引用---------------------------------------------------------------->
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../common/lib/bootstrap-table/css/boostrap-table.min.css"/>
    <!-- Materialize CSS 引入 -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/page_queryList.css"/>

    <!-----------------------------------------JS引用----------------------------------------------------------------->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries。WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->

    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <!--<script src="../../../common/lib/materialize/js/materialize.min.js"></script>-->

    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../common/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="../../../common/lib/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>

    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/mask.js"></script>
    <script src="../../../common/js/answerService.js"></script>

</head>

<body class="container main">
    <div class="panel panel-default">
            <div class="panel-heading" style="background-color: black;text-align: center">
                    <button  class="btn btn-default" style="float:left" onclick="returnToList()">返回列表</button>
                    <h1 style="color:white;display:inline-block">有效问卷数量</h1>
                    <button  class="btn btn-default" style="float:right" onclick="returnToList()">返回列表</button>
            </div>
            <div class="panel-body">
                    <div class="container-fluid">

                        <div class="row"  style="margin:12px">
                                <table id="tbContent"></table>
                        </div>
                    </div>
            </div>
    </div>

    <div id="detailWin" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">删除提示</h4>
                            </div>
                            <div class="modal-body" style="text-align:center">
                                    <div id="CreateQuery" class="container main"  style="border:1px solid lightgrey">
                                            <div class="panel panel-default">
                                                    <div class="panel-body">
                                                            <h2 style="text-align:center;font-weight:900">{{qName}}</h2>
                                                            <h4>为了给您提供更好的产品，希望您抽出几分钟时间，将您的感受和建议告诉我们，我们非常重视每位用户的宝贵意见，期待您的参与，我们马上开始吧</h4>
                                                            <hr/>
                                                            <div class="form-group">
                                                                    <label class="col-lg-1 col-lg-offset-1" >姓名：</label>
                                                                    <div class="col-lg-4">
                                                                            <input  class="form-control" v-model="answer_replyerName" placeholder="请输入您的姓名..." />
                                                                    </div>
                                                                    <label class="col-lg-1">职业：</label>
                                                                    <div class="col-lg-4">
                                                                            <select class="form-control" v-model="answer_replyerPosition">
                                                                                    <option value="技术类">技术类</option>
                                                                                    <option value="管理类">管理类</option>
                                                                                    <option value="管理类">营销类</option>
                                                                                    <option value="管理类">设计类</option></select>
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                            品牌：请选择您觉得最符合行业标杆的品牌，最多选{{brandLimit}}个
                                                    </div>
                                                    <div class="panel-body" >
                                                            <div class="col-lg-3" v-for="brand in brandList">
                                                                    <input type="checkbox" class="brandChoiceChk" v-bind:id="brand.brandId" v-bind:alt="brand.brandId" v-on:click='answer_doCheck_brand'>
                                                                    <img class="brandImg" v-bind:src="brand.brandIconUrl">
                                                            </div>
                                                    </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                            整体造型：请选择您认为最吸引眼球/视觉冲击的造型
                                                    </div>
                                                    <div class="panel-body" >
                                                            <div class="panel-body" >
                                                                    <div class="col-lg-3" v-for="pro in selProList">
                                                                            <input type="checkbox" class="brandChoiceChk"  v-bind:id="pro.imageId" v-bind:alt="pro.imageId" v-on:click="answer_doCheck_product"/>
                                                                            <img class="brandProductImg" v-bind:src="pro.imageUrl">
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                            局部造型：请选择您认为最吸引眼球/视觉冲击的局部造型
                                                    </div>
                                                    <div class="panel-body" >
                                                            <div class="panel-body" >
                                                                    <div class="col-lg-3" v-for="proD in selProDetailList">
                                                                            <input type="checkbox" class="brandChoiceChk"  v-bind:id="proD.imageId" />
                                                                            <img class="brandProductImg" v-bind:src="proD.imageUrl">
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div>

                                            <div class="panel panel-default" v-for="type in inspire_type"  v-if="type.isSelected">
                                                    <div class="panel-heading">
                                                            {{type.typeName}}： 请选{{type.typeName}}图片，能代表您公司的产品。最多选择{{type.limit}}张
                                                    </div>
                                                    <div class="panel-body" >
                                                            <div class="panel-body" >
                                                                    <div class="row">
                                                                            <div class="col-lg-3" v-for="typeImg in type.imgList" style="padding-top:10px">
                                                                                    <input type="checkbox" class="brandChoiceChk" v-bind:id="typeImg.imageId" v-bind:alt="typeImg.imageType" v-on:click='answer_doCheck_inspireImg'>
                                                                                    <img class="brandProductImg" v-bind:src="typeImg.imageUrl"/><br/>
                                                                                    <!--<span>{{typeImg.imageDesc}}</span>-->
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="row" align="center">
                                                    <button class="btn btn-primary" onclick="returnToList()">返回列表</button>
                                            </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="_doRemove()">确定</button>
                            </div>
                    </div>
            </div>
    </div>

    <script src="../js/page_board.js"></script>

</body>
</html>

