<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <!-----------------------------------------CSS引用---------------------------------------------------------------->
    <!-- Bootstrap css-->
    <link href="../../../common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../common/lib/bootstrap/css/bootstrapValidator.css" rel="stylesheet">
    <!-- Materialize CSS 引入 -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet">-->
    
    <link href="../css/page.css" rel="stylesheet">
    <link href="../css/page_createPanel.css" rel="stylesheet">

    <!-----------------------------------------JS引用----------------------------------------------------------------->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->
     <!--jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <script src="../../../common/lib/uploadPreview.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrapValidator.js"></script>
    <!--<script src="../../../common/lib/materialize/js/materialize.min.js"></script>-->
    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/brandService.js"></script>
    <script src="../../../common/js/imageService.js"></script>
    <script src="../../../common/js/surveyService.js"></script>
</head>
<body>
        
<header class="flex-column flex-md-row top-bar">
        <div class="container">
                <div class="row">
                        <div class="left-col col-xs-3">
                                        <button type="button" class="btn btn-primary " onclick="returnList()">返回列表</button>
                        </div>
                        <div class="col-xs-6 mid-col top-title">
                                        <h2>问卷设计</h2>
                        </div>
                        <div class="saveQueryCon col-xs-3 right-col"  id="saveQueryCon"  align="center">
                                <button type="button" class="btn " id="saveQuery">保存问卷</button>
                        </div>
                        <div class="releaseQueryCon col-xs-3"  id="releaseQueryCon" align="center" >
                                <button type="button" class="btn " id="releaseQuery">发布问卷</button>
                        </div>
                        
                </div>
        </div>
</header>

<div class="container main">

        <div class="row">
                <ul id="myTab" class="nav nav-tabs step-by-step-tab" >
                        <li class="active">
                                <a href="#basicSetting" data-toggle="tab" onclick="tabClick(0)">1. 基础配置</a>
                        </li>
                        <li>
                                <a href="#brand" data-toggle="tab" onclick="tabClick(1)">2. 偏好品牌设置</a>
                        </li>
                        <li>
                                <a href="#product" data-toggle="tab" onclick="tabClick(2)">3. 候选产品图设置</a>
                        </li>
                        <li>
                                <a href="#desireImg" data-toggle="tab" onclick="tabClick(3)">4. 候选意象图设置</a>
                        </li>
                        <li>
                                <a href="#preview" data-toggle="tab" onclick="tabClick(4)">5. 发布预览</a>
                        </li>
                </ul>
                <div id="CreateQuery" class="tab-content">

                        <div class="tab-pane mainTabPanel panel-setting fade in active" id="basicSetting">
                                <form role="form">
                                        <div class="form-group">
                                                <label for="Query_Name">问卷名称：</label>
                                                <input type="text" class="form-control" id="Query_Name" placeholder="问卷名称......" v-model="qName">
                                        </div>
                                        <div class="form-group" id="qDesc">
                                                <label for="Query_Desc">问卷描述：</label>
                                                <textarea class="form-control" id="Query_Desc" placeholder="关于本次调查的说明......" v-model="qDesc"></textarea>
                                        </div>

                                        
                                </form>

                        </div>

                        <div class="tab-pane mainTabPanel panel-brand fade" id="brand">
                                <form id="defaultForm"  role="form"  data-toggle="validator" class="form-horizontal">
                                        <div class="form-group brand-selection-limit">
                                                
                                                <label>最大可选品牌数：</label>
                                                <div class="radio-group">
                                                        <label class="radio-inline">
                                                        <input type="radio" name="brandLimitOptions" id="brandLimit1" value="1" v-model="brandLimit"> 1
                                                        </label>
                                                        <label class="radio-inline">
                                                        <input type="radio" name="brandLimitOptions" id="brandLimit2" value="2" v-model="brandLimit"> 2
                                                        </label>
                                                        <label class="radio-inline">
                                                        <input type="radio" name="brandLimitOptions" id="brandLimit3" value="3" v-model="brandLimit"> 3
                                                        </label>
                                                        <label class="radio-inline">
                                                        <input type="radio" name="brandLimitOptions" id="brandLimit4" value="4" v-model="brandLimit"> 4
                                                        </label>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                        </div>
                                </form>
                                <div class="row"> <label>备选品牌</label></div>
                                <div class="container-fluid brand-list">
                                        <div class="row">
                                                <div class="col-sm-3" v-for="brand in allBrand"  v-cloak>
                                                        <div class="thumb-box panel panel-default">
                                                                <input type="checkbox" class="brandChoiceChk"  v-model="brand.checked" v-bind="{alt:brand.brandId, name:'thumb'+brand.brandId, id:'thumb'+brand.brandId}" v-on:click='doCheck'/>
                                                                <label v-bind:for="'thumb'+brand.brandId" class="brandChoiceLabel">
                                                                        <img class="brandImg" v-bind:src="brand.brandIconUrl" />
                                                                </label>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="tab-pane mainTabPanel panel-product fade" id="product">
                                <div id="brand_product" class="hide"></div>

                                <div class="container-fluid">
                                        <div class="panel panel-default" v-for="brand in brandList"  v-cloak>
                                                <div class="panel-heading">
                                                        <img class="brandImgHeading" v-bind:src="brand.brandIconUrl" />
                                                        <button class="fr btn btn-default" v-bind:name="brand.brandId" v-on:click='cancelSelect'>取消选择</button>
                                                        <button class="fr btn btn-default" v-bind:name="brand.brandId" v-on:click='selectAll' >全选</button>
                                                </div>
                                                <div class="panel-body" >
                                                        <div class="col-sm-3" v-for="pro in brand.product">

                                                                <div class="thumb-box panel panel-default">
                                                                        <input type="checkbox" class="productChoiceChk"  v-model="pro.checked" v-bind="{alt:brand.brandId, id:'product-thumb-'pro.imageId}" v-on:click='doCheck_pro'/>
                                                                        <label v-bind:for="'product-thumb-'pro.imageId" class="productChoiceLabel">
                                                                                <img class="brandProductImg" v-bind:src="pro.imageUrl" />
                                                                        </label>
                                                                </div>

                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!--意向图片-->
                        <div class="tab-pane mainTabPanel fade" id="desireImg" >
                                <div class='container-fluid heightFill'>

                                        <ul class="nav nav-pills nav-stacked col-lg-2" >
                                            <li class="active"><a href='#tab0' data-toggle='tab' onclick="gettabindex(0)">{{inspire_type[0].typeName}}({{inspire_type[0].imgList.length}})</a></li>
                                            <li><a href='#tab1' data-toggle='tab' onclick="gettabindex(1)">{{inspire_type[1].typeName}}({{inspire_type[1].imgList.length}})</a></li>
                                            <li><a href='#tab2' data-toggle='tab' onclick="gettabindex(2)">{{inspire_type[2].typeName}}({{inspire_type[2].imgList.length}})</a></li>
                                            <li><a href='#tab3' data-toggle='tab' onclick="gettabindex(3)">{{inspire_type[3].typeName}}({{inspire_type[3].imgList.length}})</a></li>
                                            <li><a href='#tab4' data-toggle='tab' onclick="gettabindex(4)">{{inspire_type[4].typeName}}({{inspire_type[4].imgList.length}})</a></li>
                                        </ul>

                                        <div class='tab-content col-lg-10'>
                                                <div class='tab-pane container-fluid' v-for="type in inspire_type" v-bind:id="type.tabId">
                                                        <div class="container-fluid">
                                                                <div class="row">
                                                                        <div class="form-horizontal">
                                                                                <label>最大可选图像数：</label>
                                                                                <div class="radio-group">
                                                                                        <label class="radio-inline">
                                                                                        <input type="radio" v-bind:name="type.tabId+'Options'" v-bind:id="type.tabId+'_selection1'" value="1" v-model="type.limit"> 1
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                        <input type="radio" name="type.tabId+'Options'" v-bind:id="type.tabId+'_selection2'" value="2" v-model="type.limit"> 2
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                        <input type="radio" name="type.tabId+'Options'" v-bind:id="type.tabId+'_selection3'" value="3" v-model="type.limit"> 3
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                        <input type="radio" name="type.tabId+'Options'" v-bind:id="type.tabId+'_selection4'" value="4" v-model="type.limit"> 4
                                                                                        </label>
                                                                                </div>

                                                                        </div>
                                                                </div>
                                                                <br/>
                                                                <div class="row">
                                                                        <div class="form-group">
                                                                                <div>
                                                                                        <button class="btn btn-default" onclick="openImgUpLoadWin()">上传图片</button>
                                                                                        <button class="btn btn-default" onclick="openGalleryWin()">从图库中选择</button>
                                                                                        <button class="btn btn-default" onclick="emptyInspireAlert()">清空</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <br/>
                                                                <div class="row">
                                                                        <div class="col-lg-3 pad-top-10 alignCenter" v-for="typeImg in type.imgList">
                                                                                <img class="brandProductImg" v-bind:src="typeImg.imageUrl"/><br/>
                                                                                <span>{{typeImg.imageDesc}}</span>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="tab-pane mainTabPanel fade panel-preview" id="preview" >
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                <h2 class="preview-qName">{{qName}}</h2>
                                                <h4>您好！为了更好的定义产品造型设计方案，希望您抽出几分钟时间，将您的感受和建议告诉我们，我们非常重视每位用户的宝贵意见，期待您的参与，我们马上开始吧!</h4>
                                                <hr/>
                                                <div class="form-group">
                                                        <label class="col-lg-1 col-lg-offset-1" for="">姓名：</label>
                                                        <div class="col-lg-4">
                                                                <input  class="form-control" />
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label class="col-lg-1" for="">职业：</label>
                                                        <div class="col-lg-4">
                                                                <select class="form-control" >
                                                                        <option value="技术类">技术类</option>
                                                                        <option value="管理类">管理类</option>
                                                                        <option value="管理类">营销类</option>
                                                                        <option value="管理类">设计类</option>
                                                                </select>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                                品牌：请选择您觉得最符合行业标杆的品牌，最多选{{brandLimit}}个
                                        </div>
                                        <div class="panel-body" >
                                                <div class="col-lg-3" v-for="brand in brandList">
                                                        <div class="thumb-box panel panel-default">
                                                                <input type="checkbox" class="brandChoiceChk" v-bind="{alt:brand.brandId, name:brand.brandId, id:brand.brandId}" v-on:click='preview_doCheck'/>
                                                                <label v-bind:for="brand.brandId" class="brandChoiceLabel">
                                                                        <img class="brandImg" v-bind:src="brand.brandIconUrl" />
                                                                </label>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                                整体造型：请选择您认为最吸引眼球/视觉冲击的造型
                                        </div>
                                        <div class="panel-body" >
                                                <div class="panel-body" >
                                                        <div class="col-lg-3" v-for="pro in selProList">
                                                                
                                                        

                                                        <div class="thumb-box panel panel-default">
                                                                        <input type="checkbox" class="productChoiceChk" v-bind="{id:'pro-thumb'+pro.imageId}"/>
                                                                        <label v-bind:for="'pro-thumb'+pro.imageId" class="productChoiceLabel">
                                                                                <img class="brandProductImg" v-bind:src="pro.imageUrl" />
                                                                        </label>
                                                        </div>

                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            局部造型：请选择您认为最吸引眼球/视觉冲击的局部造型
                                        </div>
                                        <div class="panel-body" >
                                                <div class="panel-body" >
                                                        <div class="col-lg-3" v-for="proD in selProDetailList">
                                                                <!-- <input type="checkbox" class="brandChoiceChk"  v-bind:id="proD.imageId" />
                                                                <img class="brandProductImg" v-bind:src="proD.imageUrl"> -->

                                                                <div class="thumb-box panel panel-default">
                                                                        <input type="checkbox" class="productChoiceChk" v-bind="{id:'proD-thumb-'+proD.imageId}"/>
                                                                        <label v-bind:for="'proD-thumb-'+proD.imageId" class="productChoiceLabel">
                                                                                <img class="brandProductImg" v-bind:src="proD.imageUrl" />
                                                                        </label>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="panel panel-default" v-for="type in inspire_type" v-if="type.isSelected">
                                        <div class="panel-heading">
                                                {{type.typeName}}： 请选{{type.typeName}}图片，能代表您公司的产品。最多选择{{type.limit}}张
                                        </div>
                                        <div class="panel-body" >
                                                <div class="panel-body" >
                                                        <div class="row">
                                                                <div class="col-lg-3 pad-top-10" v-for="typeImg in type.imgList">
                                                                        <!-- <input type="checkbox" class="brandChoiceChk" v-bind:id="typeImg.imageId" v-bind:alt="typeImg.imageType" v-on:click='preview_doCheck_inspireImg()'>
                                                                        <img class="brandProductImg" v-bind:src="typeImg.imageUrl"/><br/> -->

                                                                        <div class="thumb-box panel panel-default">
                                                                                <input type="checkbox" class="productChoiceChk" v-bind="{id:'type-thumb'+typeImg.imageId, alt:typeImg.imageType}" v-on:click='preview_doCheck_inspireImg()'/>
                                                                                <label v-bind:for="'type-thumb'+typeImg.imageId" class="productChoiceLabel">
                                                                                        <img class="brandProductImg" v-bind:src="typeImg.imageUrl" />
                                                                                </label>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                        </div>

                        <!--图库模态框-->
                        <div id="galleryWin" class="modal fade" tabindex="-1" role="dialog" >
                                <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                                        <h4 class="modal-title">图库</h4>
                                                </div>
                                                <div class="modal-body">
                                                        <div class="container-fluid">
                                                                <ul class="nav nav-pills nav-stacked col-lg-2" id="galleryTab">
                                                                        <li class="active"><a href='#g_tab0' data-toggle='tab' onclick="gettabindex_gallery(0)">{{gallery[0].typeName}}({{gallery[0].imgList.length}})</a></li>
                                                                        <li><a href='#g_tab1' data-toggle='tab' onclick="gettabindex_gallery(1)">{{gallery[1].typeName}}({{gallery[1].imgList.length}})</a></li>
                                                                        <li><a href='#g_tab2' data-toggle='tab' onclick="gettabindex_gallery(2)">{{gallery[2].typeName}}({{gallery[2].imgList.length}})</a></li>
                                                                        <li><a href='#g_tab3' data-toggle='tab' onclick="gettabindex_gallery(3)">{{gallery[3].typeName}}({{gallery[3].imgList.length}})</a></li>
                                                                        <li><a href='#g_tab4' data-toggle='tab' onclick="gettabindex_gallery(4)">{{gallery[4].typeName}}({{gallery[4].imgList.length}})</a></li>
                                                                </ul>

                                                                <div class='tab-content col-lg-10' id="galleryTabContent">
                                                                        <div class='tab-pane container-fluid' v-for="type in gallery" v-bind:id="type.tabId">
                                                                                <div class="row">
                                                                                        <div class="col-lg-4 pad5 alignCenter" v-for="typeImg in type.imgList" >
                                                                                                <!-- <input class="brandChoiceChk" type="checkbox" v-bind:alt="typeImg.imageId" v-model="typeImg.isSelected" v-on:click="doCheck_inspire"/>
                                                                                                <img class="brandProductImg" v-bind:alt="typeImg.imageId" v-bind:src="typeImg.imageUrl"/><br/>
                                                                                                <span>{{typeImg.imageDesc}}</span> -->

                                                                                                <div class="thumb-box panel panel-default">
                                                                                                        <input type="checkbox" class="productChoiceChk" v-bind="{id:'gallery-thumb'+typeImg.imageId, alt:typeImg.imageId}" v-model="typeImg.isSelected" v-on:click='doCheck_inspire'/>
                                                                                                        <label v-bind:for="'gallery-thumb'+typeImg.imageId" class="productChoiceLabel">
                                                                                                                <img class="brandProductImg" v-bind:alt="typeImg.imageId" v-bind:src="typeImg.imageUrl" />
                                                                                                        </label>
                                                                                                        <span>{{typeImg.imageDesc}}</span>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer alignCenter">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>-->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div id="uploadInspireImgWin" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">图片上传</h4>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                        <div class="col-sm-7 h300">
                                                <div class="container-fluid">
                                                        <div class="row">
                                                                <form method="post" id="form_1" action="" enctype="multipart/form-data">
                                                                    <table>
                                                                        <tr>
                                                                            <td><input type="file" id="up_img" name="file"/></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                                            <td class="hide"><input type="text" id="inspireImgDesc" name="desc" value=""/>
                                                                            <td class="hide"><input type="text" id="upload_inspire_type" name="type" value="INDUSTRY"/>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div id="imgdiv">
                                                                                    <img id="imgShow" src=""  /></div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>

                                                                </form>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-5 h300 image-matrix">
                                                <p class="title">选择意象关键词</p>
                                                <!--<div class="form-group">-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id="" name="d_1" alt="精致" onclick="buildInspireDesc(0,0)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">精致</label>-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id=""  name="d_1" alt="粗俗" onclick="buildInspireDesc(0,1)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">粗俗</label>-->
                                                <!--</div>-->
                                                <div class="form-group">
                                                        <div class="col-md-2">
                                                            <input type="radio" id="d00" name="d_2" alt="简洁" onclick="buildInspireDesc(0,0)"/>
                                                        </div>
                                                        <label for="d00" class="col-sm-4 control-label">简洁</label>
                                                        <div class="col-md-2">
                                                            <input type="radio" id="d01" name="d_2" alt="复杂" onclick="buildInspireDesc(0,1)"/>
                                                        </div>
                                                        <label for="d01" class="col-sm-4 control-label">复杂</label>
                                                </div>
                                                <div class="form-group">
                                                        <div class="col-md-2">
                                                                <input type="radio" id="d10" name="d_3" alt="圆润" onclick="buildInspireDesc(1,0)" />
                                                        </div>
                                                        <label for="d10" class="col-sm-4 control-label">圆润</label>
                                                        <div class="col-md-2">
                                                                <input type="radio" id="d11"  name="d_3" alt="硬朗" onclick="buildInspireDesc(1,1)" />
                                                        </div>
                                                        <label for="d11" class="col-sm-4 control-label">硬朗</label>
                                                </div>
                                                <div class="form-group">
                                                        <div class="col-md-2">
                                                                <input type="radio" id="d20" name="d_7"  alt="现代"  onclick="buildInspireDesc(2,0)"/>
                                                        </div>
                                                        <label for="d20" class="col-sm-4 control-label">现代</label>
                                                        <div class="col-md-2">
                                                                <input type="radio" id="d21" name="d_7"  alt="传统" onclick="buildInspireDesc(2,1)"/>
                                                        </div>
                                                        <label for="d21" class="col-sm-4 control-label">传统</label>
                                                </div>
                                                <!--<div class="form-group">-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id="" name="d_4" alt="灵敏" onclick="buildInspireDesc(3,0)"  />-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">灵敏</label>-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id="" name="d_4" alt="迟钝" onclick="buildInspireDesc(3,1)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">迟钝</label>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id="" name="d_5"  alt="优雅" onclick="buildInspireDesc(4,0)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">优雅</label>-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id=""  name="d_5"  alt="普通" onclick="buildInspireDesc(4,1)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">普通</label>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id="" name="d_6"  alt="亲和"  onclick="buildInspireDesc(5,0)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">亲和</label>-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id=""  name="d_6"  alt="冷漠" onclick="buildInspireDesc(5,1)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">冷漠</label>-->
                                                <!--</div>-->
                                                
                                                <!--<div class="form-group">-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id="" name="d_8"  alt="安静" onclick="buildInspireDesc(7,0)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">安静</label>-->
                                                    <!--<div class="col-md-2">-->
                                                        <!--<input type="radio" id=""  name="d_8" alt="躁动" onclick="buildInspireDesc(7,1)"/>-->
                                                    <!--</div>-->
                                                    <!--<label for="" class="col-sm-4 control-label">躁动</label>-->
                                                <!--</div>-->

                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="upload_btn" name="submit" onclick="submitPic('form_1')">确定</button>
                                <button type="button" class="btn" data-dismiss="modal">取消</button>
                        </div>
                </div>
        </div>
</div>


<div id="saveAlert" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">保存提示</h4>
                        </div>
                        <div class="modal-body">
                                <div class="row" align="center">
                                        <label for="" class="col-sm-12 control-label">是否返回前保存更改？</label>
                                        <label for="" class="col-sm-12 control-label">如果不保存，您的更改将会丢失。</label>
                                </div>

                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="saveOrNot(0)">不保存</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveOrNot(1)">保存</button>
                        </div>
                </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="emptyAlert" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">提示</h4>
                        </div>
                        <div class="modal-body">
                                <div class="row" align="center">
                                        <label for="" class="col-sm-12 control-label">您确定要清空意向图片？</label>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="inspireTypeImgCancel()">确定</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="../js/page_createPanel.js"></script>
<script src="../js/page_createPanel_vue.js"></script>

</body>
</html>