<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <!-- Bootstrap css-->
    <link href="../../../common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../common/lib/bootstrap/css/bootstrapValidator.css" rel="stylesheet">
    <link href="../css/page.css" rel="stylesheet">
    <link href="../css/page_createPanel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->
     <!--jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <script src="../../../common/lib/uploadPreview.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrapValidator.js"></script>


</head>
<body>

<!--<h1>你好，世界！</h1>-->
<div class="container main">
    <div class="row" style="padding:5px;border:1px solid lightgrey">
        <div class="col-sm-4 col-xm-12" align="center">
            <button type="button" class="btn btn-primary btn-lg" onclick="returnList()">返回列表</button>
        </div>
        <div class="col-sm-4 col-xm-12" align="center">
            <span class="btn btn-default btn-lg" style="border:0">问卷设计</span>
        </div>
        <div class="col-sm-4 col-xm-12"  id="saveQueryCon"  align="center">
            <button type="button" class="btn btn-primary btn-lg" id="saveQuery">保存问卷</button>
        </div>
        <div class="col-sm-4 col-xm-12"  id="releaseQueryCon" align="center" style="display:none">
            <button type="button" class="btn btn-primary btn-lg" id="releaseQuery">发布问卷</button>
        </div>

    </div>
    <div class="row">
        <ul id="myTab" class="nav nav-tabs" >
            <li class="active">
                <a href="#basicSetting" data-toggle="tab" onclick="tabClick(0)">基础配置</a>
            </li>
            <li>
                <a href="#brand" data-toggle="tab" onclick="tabClick(1)">品牌选择</a>
            </li>
            <li>
                <a href="#product" data-toggle="tab" onclick="tabClick(2)">产品图片</a>
            </li>
            <li>
                <a href="#desireImg" data-toggle="tab" onclick="tabClick(3)">意向图片</a>
            </li>
            <li>
                <a href="#preview" data-toggle="tab" onclick="tabClick(4)">发布预览</a>
            </li>
        </ul>
        <div id="CreateQuery" class="tab-content">

            <div class="tab-pane mainTabPanel fade in active" id="basicSetting">
                <form role="form">
                    <div class="form-group">
                        <label for="Query_Name">问卷名称：</label>
                        <input type="text" class="form-control" id="Query_Name" placeholder="问卷名称：......" v-model="qName">
                    </div>
                    <div class="form-group" id="qDesc">
                        <label for="Query_Desc">问卷描述：</label>
                        <textarea class="form-control" id="Query_Desc" style="height:150px" v-model="qDesc"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="input-group">
                                <select class="form-control" id="year" v-model="qYear"> <option v-for="year in s_year">{{year}}</option></select>
                                <span class="input-group-addon">年</span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-3">
                            <div class="input-group">
                                <select class="form-control" id="month"  v-model="qMonth"><option v-for="month in s_month">{{month}}</option></select>
                                <span class="input-group-addon">月</span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-3">
                            <div class="input-group">
                                <select class="form-control" id="day" v-model="qDay" >
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                                <span class="input-group-addon">日</span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>

            </div>

            <div class="tab-pane mainTabPanel fade" id="brand">
                <form id="defaultForm"  role="form"  data-toggle="validator" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-12">用户选择上限：</label>
                        <div class="col-lg-12">
                            <input type="number" min="1" class="form-control" name="brandLimit" placeholder="" v-model="brandLimit" required="true">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
                <!--<table id="brandContainer" style="margin:10px auto;display:none"></table>-->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4" v-for="brand in allBrand"  v-cloak>
                            <input type="checkbox" class="brandChoiceChk"  v-model="brand.checked" v-bind:alt="brand.brandId" v-on:click='doCheck'/>
                            <img class="brandImg" v-bind:src="brand.brandIconUrl" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane mainTabPanel fade" id="product">
                <div id="brand_product" style="display:none"></div>

                <div class="container-fluid">
                    <div class="panel panel-default" v-for="brand in brandList"  v-cloak>
                        <div class="panel-heading">
                            <img class="brandImg" v-bind:src="brand.brandIconUrl" />
                            <button class="fr btn btn-default" v-bind:name="brand.brandId" v-on:click='cancelSelect'>取消选择</button>
                            <button class="fr btn btn-default" v-bind:name="brand.brandId" v-on:click='selectAll' >全选</button>
                        </div>
                        <div class="panel-body" >
                            <div class="col-lg-3" v-for="pro in brand.product">
                                <input type="checkbox" class="brandChoiceChk" v-model="pro.checked" v-bind:name="pro.imageId" v-bind:alt="brand.brandId" v-on:click='doCheck_pro'>
                                <img class="brandProductImg" v-bind:src="pro.imageUrl">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--意向图片-->
            <div class="tab-pane mainTabPanel fade" id="desireImg" >
                <div class='container-fluid' style="height:100%">

                    <ul class="nav nav-pills nav-stacked col-lg-2" >
                        <li class="active"><a href='#tab0' data-toggle='tab' onclick="gettabindex(0)">{{inspire_type[0].typeName}}({{inspire_type[0].imgList.length}})</a></li>
                        <li><a href='#tab1' data-toggle='tab' onclick="gettabindex(1)">{{inspire_type[1].typeName}}({{inspire_type[1].imgList.length}})</a></li>
                        <li><a href='#tab2' data-toggle='tab' onclick="gettabindex(2)">{{inspire_type[2].typeName}}({{inspire_type[2].imgList.length}})</a></li>
                        <li><a href='#tab3' data-toggle='tab' onclick="gettabindex(3)">{{inspire_type[3].typeName}}({{inspire_type[3].imgList.length}})</a></li>
                        <li><a href='#tab4' data-toggle='tab' onclick="gettabindex(4)">{{inspire_type[4].typeName}}({{inspire_type[4].imgList.length}})</a></li>
                    </ul>

                    <div class='tab-content col-lg-10'>
                        <div class='tab-pane container-fluid' v-for="type in inspire_type" v-bind:id="type.tabId">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-horizontal">

                                        <label class="col-lg-12">用户选择上限：</label>
                                        <div class="col-lg-12">
                                            <input type="number" min="1" class="form-control" name="brandLimit" placeholder="" v-model="type.limit" required="true">
                                            <div class="help-block with-errors"></div>
                                        </div>

                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <button class="btn btn-default" onclick="openImgUpLoadWin()">上传图片</button>
                                            <button class="btn btn-default" onclick="openGalleryWin()">图库</button>
                                            <button class="btn btn-default" onclick="emptyInspireAlert()">清空</button>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-lg-3" v-for="typeImg in type.imgList" style="padding-top:10px;text-align:center">
                                        <img class="brandProductImg" v-bind:src="typeImg.imageUrl"/><br/>
                                        <span>{{typeImg.imageDesc}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane mainTabPanel fade" id="preview" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 style="text-align:center;font-weight:900">{{qName}}</h2>
                        <h4>为了给您提供更好的产品，希望您抽出几分钟时间，将您的感受和建议告诉我们，我们非常重视每位用户的宝贵意见，期待您的参与，我们马上开始吧</h4>
                        <hr/>
                        <div class="form-group">
                            <label class="col-lg-1 col-lg-offset-1" for="">姓名：</label>
                            <div class="col-lg-4">
                                <input  class="form-control" />
                            </div>
                            <label class="col-lg-1" for="">职业：</label>
                            <div class="col-lg-4">
                                <select class="form-control" ><option value="0">技术类</option><option value="1">管理类</option></select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        品牌：请选择您觉得最符合行业标杆的品牌，最多选{{brandLimit}}个
                    </div>
                    <div class="panel-body" >
                        <div class="col-lg-3" v-for="brand in brandList">
                            <input type="checkbox" class="brandChoiceChk" v-bind:id="brand.brandId" v-bind:alt="brand.brandId" v-on:click='preview_doCheck'>
                            <img class="brandImg" v-bind:src="brand.brandIconUrl">
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        整体造型：请选择您认为最吸引眼球/视觉冲击的造型
                    </div>
                    <div class="panel-body" >
                        <div class="panel-body" >
                            <div class="col-lg-3" v-for="pro in selProList">
                            <input type="checkbox" class="brandChoiceChk"  v-bind:id="pro.imageId" />
                            <img class="brandProductImg" v-bind:src="pro.imageUrl">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        局部造型：请选择您认为最吸引眼球/视觉冲击的局部造型
                    </div>
                    <div class="panel-body" >
                        <div class="panel-body" >
                            <div class="col-lg-3" v-for="proD in selProDetailList">
                                <input type="checkbox" class="brandChoiceChk"  v-bind:id="proD.imageId" />
                                <img class="brandProductImg" v-bind:src="proD.imageUrl">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" v-for="type in inspire_type" v-if="type.isSelected">
                    <div class="panel-heading">
                        {{type.typeName}} 请选择一张{{type.typeName}}图片作为一项，能代表您公司的产品
                    </div>
                    <div class="panel-body" >
                        <div class="panel-body" >
                            <div class="row">
                                <div class="col-lg-3" v-for="typeImg in type.imgList" style="padding-top:10px">
                                    <input type="checkbox" class="brandChoiceChk" v-bind:id="typeImg.imageId" v-on:click='preview_doCheck_inspireImg()'>
                                    <img class="brandProductImg" v-bind:src="typeImg.imageUrl"/><br/>
                                    <!--<span>{{typeImg.imageDesc}}</span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--图库模态框-->
            <div id="galleryWin" class="modal fade" tabindex="-1" role="dialog" >
                <div class="modal-dialog" role="document" style="width:1000px;height:800px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <h4 class="modal-title">图库</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <ul class="nav nav-pills nav-stacked col-lg-2" id="galleryTab">
                                    <li class="active"><a href='#g_tab0' data-toggle='tab' onclick="gettabindex_gallery(0)">{{gallery[0].typeName}}({{gallery[0].imgList.length}})</a></li>
                                    <li><a href='#g_tab1' data-toggle='tab' onclick="gettabindex_gallery(1)">{{gallery[1].typeName}}({{gallery[1].imgList.length}})</a></li>
                                    <li><a href='#g_tab2' data-toggle='tab' onclick="gettabindex_gallery(2)">{{gallery[2].typeName}}({{gallery[2].imgList.length}})</a></li>
                                    <li><a href='#g_tab3' data-toggle='tab' onclick="gettabindex_gallery(3)">{{gallery[3].typeName}}({{gallery[3].imgList.length}})</a></li>
                                    <li><a href='#g_tab4' data-toggle='tab' onclick="gettabindex_gallery(4)">{{gallery[4].typeName}}({{gallery[4].imgList.length}})</a></li>
                                </ul>

                                <div class='tab-content col-lg-10' id="galleryTabContent">
                                    <div class='tab-pane container-fluid' v-for="type in gallery" v-bind:id="type.tabId">
                                        <div class="row">
                                            <div class="col-lg-4" v-for="typeImg in type.imgList" style="padding:5px;text-align:center">
                                                <input class="brandChoiceChk" type="checkbox" v-bind:alt="typeImg.imageId" v-on:click="doCheck_inspire"/>
                                                <img class="brandProductImg" v-bind:alt="typeImg.imageId" v-bind:src="typeImg.imageUrl"/><br/>
                                                <span>{{typeImg.imageDesc}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <!--<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>-->
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
</div>

<div id="uploadInspireImgWin" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片上传</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6" style="height:300px;">
                        <div class="container-fluid">
                            <div class="row">
                                <form method="post" id="form_1" action="" enctype="multipart/form-data">
                                    <table>
                                        <tr>
                                            <td><input type="file" id="up_img" name="file"/></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <td style="display:none"><input type="text" id="inspireImgDesc" name="desc" value=""/>
                                            <td style="display:none"><input type="text" id="upload_inspire_type" name="type" value="INDUSTRY"/>
                                                <!--<input type="button" id="upload_btn" name="submit" value="上传" style="width:50px;height: 25px"  onclick="setSysConfig('form_pic_up')"/></td>-->
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="imgdiv">
                                                    <img id="imgShow" src="" style="background-color:#005bac;width:100%" /></div>
                                            </td>
                                        </tr>
                                    </table>

                                </form>
                                <!--<form class="form-inline" role="form" id="form1"  method="post" enctype="multipart/form-data">-->
                                    <!--<div class="form-group" style="display:none">-->
                                        <!--<label class="sr-only" for="desc">描述</label>-->
                                        <!--<input type="text" class="form-control" name="desc" value="优雅" placeholder="请输入名称">-->
                                        <!--<label class="sr-only" for="type">类型</label>-->
                                        <!--<input type="text" class="form-control" name="type" value="INDUSTRY" placeholder="请输入名称">-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="sr-only" for="inputfile">文件输入</label>-->
                                        <!--<input type="file" id="inputfile" name="file">-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<button type="submit" class="btn btn-default" onclick="submitPic('form1')">提交</button>&ndash;&gt;-->
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="height:300px">
                        意向关键词
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id="" name="d_1" alt="精致" onclick="buildInspireDesc(0,0)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">精致</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id=""  name="d_1" alt="粗俗" onclick="buildInspireDesc(0,1)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">粗俗</label>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="radio" id="" name="d_2" alt="简洁" onclick="buildInspireDesc(1,0)"/>
                            </div>
                            <label for="" class="col-sm-4 control-label">简洁</label>
                            <div class="col-md-2">
                                <input type="radio" id="" name="d_2" alt="复杂" onclick="buildInspireDesc(1,1)"/>
                            </div>
                            <label for="" class="col-sm-4 control-label">复杂</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="radio" id="" name="d_3" alt="圆润" onclick="buildInspireDesc(2,0)" />
                            </div>
                            <label for="" class="col-sm-4 control-label">圆润</label>
                            <div class="col-md-2">
                                <input type="radio" id=""  name="d_3" alt="硬朗" onclick="buildInspireDesc(2,1)" />
                            </div>
                            <label for="" class="col-sm-4 control-label">硬朗</label>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id="" name="d_4" alt="灵敏" onclick="buildInspireDesc(3,0)"  />-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">灵敏</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id="" name="d_4" alt="迟钝" onclick="buildInspireDesc(3,1)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">迟钝</label>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id="" name="d_5"  alt="优雅" onclick="buildInspireDesc(4,0)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">优雅</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id=""  name="d_5"  alt="普通" onclick="buildInspireDesc(4,1)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">普通</label>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id="" name="d_6"  alt="亲和"  onclick="buildInspireDesc(5,0)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">亲和</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id=""  name="d_6"  alt="冷漠" onclick="buildInspireDesc(5,1)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">冷漠</label>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="radio" id="" name="d_7"  alt="现代"  onclick="buildInspireDesc(6,0)"/>
                            </div>
                            <label for="" class="col-sm-4 control-label">现代</label>
                            <div class="col-md-2">
                                <input type="radio" id="" name="d_7"  alt="传统" onclick="buildInspireDesc(6,1)"/>
                            </div>
                            <label for="" class="col-sm-4 control-label">传统</label>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id="" name="d_8"  alt="安静" onclick="buildInspireDesc(7,0)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">安静</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="radio" id=""  name="d_8" alt="躁动" onclick="buildInspireDesc(7,1)"/>-->
                            <!--</div>-->
                            <!--<label for="" class="col-sm-4 control-label">躁动</label>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="upload_btn" name="submit" onclick="submitPic('form_1')">确定</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="saveAlert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">保存提示</h4>
            </div>
            <div class="modal-body">
                <div class="row" align="center">
                    <label for="" class="col-sm-12 control-label">是否返回前保存更改？</label>
                    <label for="" class="col-sm-12 control-label">如果不保存，您的更改将会丢失。</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveOrNot(0)">不保存</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveOrNot(1)">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="emptyAlert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <div class="row" align="center">
                    <label for="" class="col-sm-12 control-label">您确定要清空意向图片？</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="inspireTypeImgCancel()">确定</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="../../../common/js/utils.js"></script>
<script src="../../../common/js/brandService.js"></script>
<script src="../../../common/js/imageService.js"></script>
<script src="../../../common/js/surveyService.js"></script>
<script>
    window.onload = function () {
        new uploadPreview({UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow"});
    }
</script>

<!--<script type="text/x-template" id="product-template">-->
    <!--<div class="container-fluid">-->
        <!--<div class="panel panel-default" v-for="brand in brandList">-->
            <!--<div class="panel-heading">-->
                <!--<img class="brandImg" v-bind:src="brand.url" />-->
                <!--<button class="fr">全选</button><button class="fr">取消选择</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="panel-body" v-for="product in brand.productList">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-lg-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox" class="brandChoiceChk">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img class="brandProductImg" v-bind:src="product.url">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->

<script src="../js/page_createPanel.js"></script>
<script src="../js/page_createPanel_vue.js"></script>



</body>
</html>