
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>设计看板</title>

    <!-----------------------------------------CSS引用---------------------------------------------------------------->
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css"/>
   
    <!-- Materialize CSS 引入 -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/page_designIdeationBoard.css"/>

    <!-----------------------------------------JS引用----------------------------------------------------------------->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries。WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->

    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- three.js引用 -->
    <script src="../../../common/lib/threejs/three.js"></script>
    <script src="../../../common/lib/threejs/OrbitControls.js"></script>


    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/mask.js"></script>

    <script src="../../../common/js/FeatureLineRenderer.js"></script>
    <script src="../../../common/js/DataVis3DRenderer.js"></script>

</head>

<body>
    <header class="flex-column flex-md-row top-bar">
        <div class="container">
            <div class="row">
                <div class="mid-col">
                        <h1>{{SURVEY_NAME}}</h1>
                        <h2>设计看板</h2>
                </div>
                    
            </div>
        </div>
        
        
    </header>
    <div class="container main">
        <div class="panel panel-default panel-ideation">
            <div class="row">
                    <div class="col-sm-5 col-3d">
                            <div id="design-datavis-3d" class="design-datavis-3d">
                                <canvas></canvas>
                            </div>          
                    </div>
                    <div class="col-sm-2">
                        <div class="thumb-panel row">
                                    <ul class="thumb-list">
                                        <li>
                                            <p>栏位0（母版）</p>
                                            <a href="#" class="thumbnail slot0">
                                                <img src="" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <p>栏位1（司机室）</p>
                                            <a href="#" class="thumbnail slot1">
                                                <img src="" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <p>栏位2（钢轮支架）</p>
                                            <a href="#" class="thumbnail slot2">
                                                <img src="" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <p>栏位3（后罩）</p>
                                            <a href="#" class="thumbnail slot3">
                                                <img src="" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="render-panel">
                            
                            <div class="featureline-rendering">
                                <svg viewBox="0 0 400 270" id="featureline-svg">
                                    <defs>
                                        <filter id="threshold" color-interpolation-filters="sRGB">
                                            <feComponentTransfer>
                                                <feFuncR type="discrete" tableValues="0 1"/>
                                                <feFuncG type="discrete" tableValues="0 1"/>
                                                <feFuncB type="discrete" tableValues="0 1"/>
                                            </feComponentTransfer>
                                            <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/>
                                        </filter>
                                    </defs>
                                    <g style="display:block">
                                        <image width="400" height="270" class="layer1" xlink:href="" filter="url(#threshold)" opacity="0.15"></image>
                                        <image width="400" height="270" class="layer2" xlink:href=""></image>
                                    </g>
                                </svg>
                                <!-- <img src="" alt="" class="layer layer1">
                                <img src="" alt="" class="layer layer2"> -->
                            </div>
                            <button type="button" class="btn btn-default toggle-featureline-mode" data-toggle="button" aria-pressed="false" autocomplete="off" id="toggle-featureline-mode">启用拼接模式</button>
                        </div>
                    </div>
                    
                  
            </div>
        </div>
        
    </div>

   
    <!-- 弹出面板，备用 -->
    <!-- <div id="deleteAlert" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除提示</h4>
                </div>
                <div class="modal-body" style="text-align:center">
                    您确定要删除该条记录吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="_doRemove()">确定</button>
                </div>
            </div>
        </div>
    </div> -->

    <script src="../js/page_designIdeationBoard.js"></script>

</body>
</html>

