
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>看板</title>
    <link rel="stylesheet" type="text/css" href="../../../common/lib/easyui/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../../common/lib/easyui/themes/icon.css" />
    <!-- Materialize CSS 引入 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../common/css/common.css" />
    
    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <script src="../../../common/lib/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/easyui/jquery.easyui.min.js"></script>
    <style>
        .marginTop{
            margin-top:15px;
        }

        .queryContainer{
            margin:20px auto;
            width:100%;
            height:30px
        }
        .fit{
            width:80%;height:100%
        }

        .tableContainer{
            margin:10px auto;
            width:100%;
            height:80%
        }

        .pad20{
            padding:20px
        }
        .left_menu{
            align:center;
            vertical-align: middle;
            width:100%;
            height:50px;
            font-size: 16px;
            font-weight: 900;
        }
        .on{
            background-color:red
        }
    </style>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north'" style="text-align:center">
                <a class="easyui-linkbutton" data-options="size:'large'" onclick="window.location='queryList.html'">返回列表</a>
                <a class="easyui-linkbutton" data-options="size:'large'">常林压路机项目研究</a>
                <a class="easyui-linkbutton" data-options="size:'large'" id="share">&nbsp&nbsp&nbsp分享&nbsp&nbsp&nbsp</a>
            </div>
            <div data-options="region:'center'">
                <div class="easyui-tabs" data-options="fit:true">
                    <div title="整体模式" class="pad20">
                        <label><button class="easyui-switchbutton"></button>&nbsp是否显示特征线</label>
                        <div id="wholeMode">

                        </div>
                    </div>
                    <div title="细节模式"  class="pad20">
                        <label><button class="easyui-switchbutton"></button>&nbsp是否显示特征线</label>
                        <div id="detailMode">

                        </div>
                    </div>
                    <div title="灵感模式"   class="pad20">
                        <label><button class="easyui-switchbutton"></button>&nbsp是否显示特征线</label>
                        <div id="inspireMode">

                        </div>
                    </div>
                </div>
            </div>

            <div id="shareWin" class="easyui-window" title="看板分享" style="width:680px;height:462px"
                 data-options="modal:true,modal:true,minimizable:false,maximizable:false,collapsible:false,closed:true">
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'center'" style="text-align:center">
                        <div style="margin:20px auto">
                            <img id="share_unicode" src="../img/unicode.png"/>
                            <br/>
                            <br/>
                            通过手机扫描二维码，可以直接填写问卷
                            <br/>
                            <br/>
                            问卷地址：******
                            <br/>
                            <br/>
                            <button>复制链接</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:false">

    </div>
    <div data-options="region:'east',border:false" style="width:10%">

    </div>
    <div data-options="region:'west',border:false" style="width:10%">

    </div>

    <!--<link rel="stylesheet" type="text/css" href="../css/page.css" />-->
   
    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/mask.js"></script>
    <script>
        $(function(){

            $("#share").click(function(e){
                $("#shareWin").window("open")
            })

        })
    </script>
</body>
</html>

