
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>有效问卷数量</title>
    <link rel="stylesheet" type="text/css" href="../../../common/lib/easyui/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../../common/lib/easyui/themes/icon.css" />
    <!--<link rel="stylesheet" type="text/css" href="../../../common/css/common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="../css/page.css" />-->

    <style>
        .marginTop{
            margin-top:15px;
        }

        .queryContainer{
            margin:20px auto;
            width:100%;
            height:30px
        }
        .fit{
            width:80%;height:100%
        }

        .tableContainer{
            margin:10px auto;
            width:100%;
            height:80%
        }
    </style>
</head>

<body  class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:90px;text-align:center;padding-left:10%;padding-right:10%">
        <a class="easyui-linkbutton" data-options="size:'large'" onclick="window.location='queryList.html'" style="float:left">返回列表</a>
        <a class="easyui-linkbutton" data-options="size:'large'">有效问卷数量</a>
    </div>
    <div data-options="region:'center',border:false">
        <table id="tbContent">

        </table>
    </div>
    <div data-options="region:'south',border:false">

    </div>
    <div data-options="region:'east',border:false" style="width:10%">

    </div>
    <div data-options="region:'west',border:false" style="width:10%">

    </div>




    <!--工单确认弹窗，需要easyui-window、easyui-tabs、easyui-textbox、easyui-combobox、easyui-datetimebox
        处理阶段部分，可以设定一个样式类，统一规定其样式。
    -->
    <div id="createWin" class="easyui-window" title="新建问卷" style="width:680px;height:462px"
         data-options="modal:true,modal:true,minimizable:false,maximizable:false,collapsible:false,closed:true">
        <div data-options="region:'north'" style="width:666px;height:100px;border-right:1px black">

        </div>
        <div data-options="region:'center'" style="width:666px;height:240px;">

        </div>
        <div data-options="region:'south'" style="width:666px;height:46px;text-align:center;margin-top:40px;margin-right:40px;background-color:white;">
            <button id="order_confirm_button"         class="easyui-linkbutton" data-options="iconCls:'icon-ok'"     plain="true"          onclick="workOrderConfirm()">确认</button>
            <button id="order_confirm_cancel_button" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true"      onclick="closeWindow($('#orderConfirm'))">取消</button>
        </div>

    </div>

    <script type="text/javascript" src="../../../common/lib/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/mask.js"></script>

    <script>

        $(function(){

            $('#tbContent').datagrid({
                singleSelect:true,
                striped:true,
                rownumbers:true,
                checkbox:true,
                fit:true,
//                toolbar:"#toolbar",
                pagination:true,
                fitColumns:true,
                columns:[[
                    {field:'proType',align:'center',width:50,title:'职业类别'},
                    {field:'name',align:'center',width:50,title:'姓名'},
                    {field:'operate',align:'center',width:50,title:'操作',formatter:shareOperate},
                ]],
                data:[
                    {proType:"技术类",name:'李小龙'},
                    {proType:"管理类",name:'成龙'},
                    {proType:"设计类",name:'李连杰'},
                    {proType:"营销类",name:'甄子丹'}
                ]
            });
        });


        function shareOperate(value,row,index){
            return "<a class='easyui-linkbutton' onclick='shareQuery()'>查看结果</a>"
        }
    </script>

</body>
</html>

