
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>问卷列表</title>

    <!-----------------------------------------CSS引用---------------------------------------------------------------->
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../common/lib/bootstrap-table/css/boostrap-table.min.css" />
    <!-- Materialize CSS 引入 -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../common/lib/materialize/css/materialize.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/page.css" />
    <link rel="stylesheet" href="../css/page_queryList.css" />

    <!-----------------------------------------JS引用----------------------------------------------------------------->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries。WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../../common/lib/html5shiv.min.js"></script>
    <script src="../../../common/lib/respond.min.js"></script>
    <![endif]-->

    <script src="../../../common/lib/Jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../common/lib/vue.js"></script>
    <!-- <script src="../../../common/lib/materialize/js/materialize.min.js"></script> -->

    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../common/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="../../../common/lib/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>

    <script src="../../../common/lib/clipboard/dist/clipboard.min.js"></script>

    <script src="../../../common/js/utils.js"></script>
    <script src="../../../common/js/mask.js"></script>
    <script src="../../../common/js/surveyService.js"></script>

</head>

<body>
    <header class="flex-column flex-md-row top-bar">
        <div class="container">
            <div class="row">
                    <div class="mid-col">
                            <h1>高端装备设计知识库系统</h1>
                            <h2>设计需求调研问卷工具</h2>
                    </div>
            </div>
        </div>
    </header>
    
    <div class="container main">
            <div class="row">
                    <div class="input-group">
                            <input type="text" class="form-control" placeholder="问卷名称" id="name">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="searchBtn">搜索</button>
                            </span>
                    </div>
                  
            </div>
            <div class="row">
                    <button class="btn btn-primary" id="build">新建问卷</button>
            </div>
            <div class="row">
                    <table id="tbContent" class="query_list_table"></table>
            </div>
    </div>

    <div id="shareWin" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">保存提示</h4>
                </div>
                <div class="modal-body alignCenter" >
                    <img id="share_unicode" src=""/>
                    <br/>
                    <br/>
                    通过手机扫描二维码，可以直接填写问卷
                    <br/>
                    <br/>
                    问卷地址：<a id="answerAddress"></a>
                    <button id="copyUrl" class="btn btn-primary"  data-clipboard-action="copy" data-clipboard-target="#answerAddress">复制链接</button>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div id="deleteAlert" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除提示</h4>
                </div>
                <div class="modal-body alignCenter">
                    您确定要删除该条记录吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="_doRemove()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/page_queryList.js"></script>

</body>
</html>

