
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>问卷列表——感谢！
    </title>
    <link href="../../../common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container main">
    <div class="panel panel-default">
            <div class="panel-heading" style="background-color: black">
                    <h1 style="color:white">感谢您的参与！谢谢</h1>
            </div>
            <div class="panel-body">
                    <h3 style="color:black">Thank you!</h3>
                    <h3 style="color:black">ありがとうございます！</h3>
                    <h3 style="color:black">감사합니다. </h3>
                    <h3 style="color:black">Merci！</h3>
                    <h3 style="color:black">Danke！</h3>
            </div>
    </div>


    <script src="../../../common/lib/easyui/jquery.min.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

