
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>问卷列表——感谢！
    </title>
    <link href="../../../common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/page.css" rel="stylesheet">
    <link href="../css/page_thankyou.css" rel="stylesheet">
</head>

<body>
    <header class="flex-column flex-md-row top-bar">
        <div class="container">
                <h1>问卷提交成功</h1>
                <h2>感谢您的参与</h2>
        </div>
    </header>
    <div  class="container main">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="thank-you-font">谢谢！</h3>
                <h3 class="thank-you-font">Thank you!</h3>
                <h3 class="thank-you-font">ありがとうございます！</h3>
                <h3 class="thank-you-font">감사합니다. </h3>
                <h3 class="thank-you-font">Merci！</h3>
                <h3 class="thank-you-font">Danke！</h3>
            </div>
        </div>
    </div>



    <script src="../../../common/lib/easyui/jquery.min.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

